{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": false,
  "plugins": [
    "prettier-plugin-organize-imports",
    "@prettier/plugin-xml"
  ],
  "overrides": [
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "proseWrap": "always",
        "printWidth": 80,
        "tabWidth": 2,
        "useTabs": false
      }
    },
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "tabWidth": 2,
        "printWidth": 80
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "tabWidth": 2,
        "printWidth": 80
      }
    }
  ]
}