@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 214 32% 91%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --ring: 214 32% 91%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 214 32% 91%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 214 32% 91%;
    --accent-foreground: ;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --radius: 0.5rem;
  }

  :root[class~="dark"] {
    --background: 0 0% 6.7%;
    --foreground: 210 40% 98%;

    --muted: 0 0% 18%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 0 0% 18%;
    --card-foreground: 210 40% 98%;

    --ring: 0 0% 18%;
    --border: 0 0% 18%;
    --input: 0 0% 18%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 0 0% 18%;
    --secondary-foreground: 210 40% 98%;

    --accent: 0 0% 18%;
    --accent-foreground: ;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground !important;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  footer {
    @apply bg-background text-foreground !important;
  }

  h1 {
    @apply tracking-tight font-mono leading-tight;
  }

  h2 {
    @apply tracking-tight;
  }
}