/* make nav more blurry */
.nextra-nav-container-blur {
    background: transparent !important;
}

:is(html[class~=dark] .nextra-nav-container-blur, html[class~=dark] .nextra-nav-container-blur) {
    background: transparent !important;
}

.hidden {
    display: none;
}

/* do not show edit/contact menu below the toc */
.nextra-toc>div> :last-child {
    display: none;
}

:is(html[class~=dark] .nextra-steps h3):before {
    border-color: transparent;
}

.nextra-steps h3:before {
    border-color: transparent;
}

/* smaller search bar */
.nextra-search {
    width: 10rem;
}

/* Fix logo overflowing */
.nextra-nav-container>nav>a:first-child {
    flex-shrink: 0;
}

/* Fix nested lists */
li>ol,
li>ul {
    margin-top: 0 !important;
}

/* No dark background of videos */
media-outlet {
    background-color: transparent !important;
}

/* More gap between h2 in articles */
article.nextra-body-typesetting-article h2 {
    margin-top: 8rem;
}