/* make nav more blurry */
.nextra-nav-container-blur {
    background: transparent !important;
}

:is(html[class~=dark] .nextra-nav-container-blur, html[class~=dark] .nextra-nav-container-blur) {
    background: transparent !important;
}

.nextra-toc>div> :last-child {
    fill-opacity: 50;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* Hide guides and faq from main menu */
.nextra-nav-container>nav>a[href="/guides"] {
    display: none;
}

.nextra-nav-container>nav>a[href="/faq"] {
    display: none;
}

/* smaller search bar */
.nextra-nav-container input[type="search"] {
    width: 8rem;

    @media (min-width: 1024px) {
        width: 10rem;
    }

    @media (min-width: 1280px) {
        width: 16rem;
    }

    border-radius: 0.25rem;
}

/* Fix logo overflowing */
.nextra-nav-container>nav>a:first-child {
    flex-shrink: 0;
}

/* Fix nested lists */
li>ol,
li>ul {
    margin-top: 0 !important;
}

/* No dark background of videos */
media-outlet {
    background-color: transparent !important;
}

/* More gap between h2 in articles */
article.nextra-body-typesetting-article h2 {
    margin-top: 6rem;
}

svg .nodeLabel,
svg .edgeLabel {
    font-family: monospace;
}

/* Fix callout list */
.nextra-callout ul {
    margin-top: 0;
}